div img {
    width: 80vw;
}

@font-face {
    font-family: "Ubuntu-Light";
    src: url("../fonts/Ubuntu-Light.ttf");
}

section {
    color: midnightblue;
    font-family: "Ubuntu-Light";
    font-size: 100%;
}