html {
    background-color: whitesmoke;
}

body {
    background-color: greenyellow;
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    min-width: 640px;
    box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px, rgba(31, 61, 31, 0.9) -20px 0px 25px;
}

body>footer {
    padding-left: 25%;
}

body>section {
    margin: 5%;
    padding-left: 25%;
}

body>header {
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: relative;
}

body>nav {
    box-shadow: rgba(31, 61, 31, 0.9) 20px 0px 25px, rgba(31, 61, 31, 0.9) -20px 0px 25px;
    background-color: darkolivegreen;
    width: 20%;
    float: left;
    margin: 0%;
}